<div class="container">
  <h1 class="text-center">Editar Informações do Armamento</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form' %>
      <hr>
      <%= link_to 'Detalhes', @armamento, :class => "btn btn-primary" %>
      <%= link_to 'Voltar', armamentos_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>
